// For the Event Show page
.event-container{
  background-color: white;
  padding: 30px; 
  border-radius: 5px;
}

.event-name {
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #2F363D;
}

.modal-body{
  text-align: center;
}

.btn-xs {
  padding: .30rem .4rem !important;
  font-size: .775rem !important;
  line-height: .5 !important;
  border-radius: .2rem !important;
}

.ml-15{
  margin-left: 15px;
}

.mt-13{
  margin-top: 13px;
}

.event-image{
  background-position: center;
}

.sub-text{
  line-height: 21px;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.light{ color: #A9ABB2 !important;}

.heading-icon { margin-top: 15px;}

.event-date{
  line-height: 35px;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.event-time{
  font-weight: bold;
  line-height: 35px;
  font-size: 16px;
  letter-spacing: 0.02em;
  float: right;
  margin-right: 5px;
}
.time-zone{
  width: 100%;
  text-align: right;
  line-height: 0px;
}
.event-address-container{
  margin-top: 10px;
}
.event-address{
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 35px;
}
.social-container{
  margin-top: 10px;
}
.social-icons-wrap{
  margin-top: 14px;
}
.social-text{
  line-height: 21px;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #A9ABB2;
}
.social-icon-holder{
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  background-color: #F8F9FA;
  cursor: pointer;
  margin-right: 12px;
}
.social-icon-holder:hover{
  background-color: #dedede;
}
.social-icon{
  margin-left: 9px;
  margin-top: 9px;  
}
.heading-2{
  font-weight: 800;
  line-height: normal;
  font-size: 26px;
  letter-spacing: 0.02em;
}
.event-description{
  margin-top: 20px;
  line-height: 28px;
  font-size: 16px;
}
.event-container {
  margin: auto;
  margin-top: -50px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.12);
  margin-bottom: 60px; 
  .event-start, .event-end, .event-address {
    h5 {
      display: inline;
      margin-right: 5px;
    }
  }
  .event-subscribe {
    p {
      font-size: 12px;
    }
    .subscribe-btn {
      background: linear-gradient(107.51deg, #FF7979 23.95%, #FFB077 91.97%);
      box-shadow: 0px 4px 20px rgba(255, 122, 118, 0.28);
      border-radius: 100px;
      height: 46px;
      min-width: 140px;
      font-weight: bold;
      line-height: 23px;
      font-size: 14px;
      text-align: center;
      color: #FFFFFF;
      border: none;
    }
  }
}
.details-container{
  margin: 60px auto;
}
.footer{
  background-color: #F5F6F8;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.pt-70{
  padding-top: 70px !important;
}
.h-60{
  min-height: 60px !important;
  height: 60px !important;
}
.mb-20{
  margin-bottom:20px;
}

.event-subscribe-wrap{
  border-left: 4px dashed #EEEEEE;
}
.event-subscribe{
  padding-left: 25px;
  padding-top: 10px;
}
.info-text{
  line-height: 20px;
  font-size: 12px;
}
#floating-calendar{
  width: 50px;
  height: 50px;
  border: none;
  background: linear-gradient(89.45deg, #FF7979 12.84%, #FFB077 99.05%);
  box-shadow: 0px 4px 20px rgba(255, 122, 118, 0.28);
  border-radius: 100px;
}
.organizer-image{
  width: 100px;
  height: 100px;
  border-radius: 34px;
  background-size: cover;
  background-position: center;
  margin: 0px 16px;
}
.organizer-image, .organizer-details{
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}
.blue-text{
  color: #4F89FB;
  line-height: 28px;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.organizer-detail-holder{
  margin-top: 16px;
  margin-left: 16px;
}
.mobile-visible{
  display: none !important;
}

.event-data-icon{
  width: 10%;
  vertical-align: top;
  display: inline-block;
}

.event-data-text{
  width: 90%;
  vertical-align: center;
  display: inline-block;
}

@media screen and (min-width: 240px) {
  .event-container {
    width: 90%; 
  }
  .details-container{
    width: 90%;
  }

  .event-image{
    background-size:cover; height: 15.8em; width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .event-date-time-container{ height: 55px;}
  .event-time{
    width: 100%;
    padding-left: 5px;
    text-align: left;
  }
  .time-zone{
    padding-left: 5px;
    text-align: left;
    margin-left: 12px; 
    margin-top: -6px;
  }
  .event-address-container{
    margin-top: 15px;
  }
  .event-address{
    margin-top: 15px;
  }

  .event-address a{
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px){
  #floating-add-calendar{
    position: fixed !important;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    button{
      font-size: 11px;
    }
  }
  .event-name{ 
    line-height: 28px;
    font-size: 25px;
  }
  .event-date, .event-time{
    font-size: 14px;
    line-height: 18px;
  }
  .mobile-hidden{
    display: none !important;
  }
  .mobile-visible{
    display: inline-flex !important;
  }
  .event-subscribe-wrap{
    border: none !important;
  }
  .event-subscribe{
    padding-left: 0 !important;
  }
  .heading-2{
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .event-container {
    margin-top: -60px !important;
    width: 80%;
  }

  .details-container{
    width: 80%;
    padding: 0 25px;
  }
  .event-image{
    background-size:cover; height: 20.8em; width: 100%;
  }
  #floating-add-calendar{
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .event-container {
    margin-top: -70px !important;
    width: 70%;
    top: 22em;
  }
  .details-container{
    width: 70%;
    padding: 0 30px;
  }
  .event-image{
    background-size:cover; height: 26.8em; width: 100%;
  }ing-add-calendar{
    display: none;
  }
}