// For the Event Show page
.event-container{
  background-color: white;
  padding: 15px; 
  border-radius: 5px;
}

@media screen and (min-width: 240px) {
  .event-container {
    width: 90%;
    margin-left: 5%;  
  }

  .event-image{
    background-size:cover; height: 15.8em; width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .event-container {
    width: 80%;
    margin-left: 10%;
  }

  .event-image{
    background-size:cover; height: 20.8em; width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .event-container {
    width: 70%;
    margin-left: 15%;
    top: 22em;
  }
  .event-image{
    background-size:cover; height: 26.8em; width: 100%;
  }
}
// @media (min-width: 40em) {
//   /* Probably some parent element that limits the img width */
//   .event-container {
//     width: 60%;
//   }
// }

.event-container {
  // margin-left: 30%;
  // width: 400px;

  .event-start, .event-end, .event-address {
    h5 {
      display: inline;
      margin-right: 5px;
    }
  }
  .event-subscribe {
    p {
      font-size: 12px;
    }
    .subscribe-btn {
      font-size: 12px;
      margin-top: 1.7rem;
    }
  }
}
////////////////////////////////////////////////////
