// For event new page
.new-event-container {
  font-family: Roboto;
  font-style: normal;
  // font-weight: normal;
  line-height: normal;
  color: #707070;
}

.event-form {
  .event-date-block {
    input {
      height: 30px;
      background-color: #fff;
    }
  }
  .row {
    margin: 0px;
  }
  .ui-datebox-datebox-group {
    padding-top: 10px;
    div:nth-child(2) {
      width: 4.6rem;
      margin-left: 0.55rem;
    }
  }

  label {
    // font-size: 14px;
    font-weight: normal;
    color: rgba(0,0,0,0.6);
  }
  .occurance-dropdown {
    #dropdownMenuLink {
      border: 1px solid #ced4da;
      width: 14rem;
    }
    div {
      width: 14rem;
    }
  }
}





//////////////////////////////////////////////////

// For event index page
.new-event-block, .event-list-block {
  margin-bottom: 7px;
  h4 {
    text-align: center;
    font-size: 18px;
  }
}
.event-list {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 0.8rem;
}

.event-item {
  h6{
    color: black;
  }
  .event-url-heading {
    display: inline;
  }
  .event-qr-code {
    .qr-points {
      padding-left: 5px;
    }
  }
  .point {
    font-size: 12px;
    margin: 0px;
    color: grey;
  }
  .event-name {
    h5 {
      font-size: 15px;
      font-weight: bold;
    }
  }
  .event-edit {
    color: grey;
    font-size: 12px;
    float: right;
  }
  .event-delete {
    color: red;
    font-size: 12px;
    float: right;
    margin-left: 5px;
  }
  .event-viewer-block {
    float: right;
    i {
      margin-right: 5px;
    }
  }
  .event-report-block {
    h5 {
      display: inline-block;
    }
    span {
      margin-left: 10px;
    }
  }
}
//////////////////////////////////////////////////

// For event preview
#event-preview-block {
  .event-preview-details {
    h5 {
      font-size: 18px;
    }
    .point {
      margin: 0px;
      font-size: 14px;
    }
    .event-preview-url {
      margin-left: 20px;
      a {
        margin-left: 3px;
      }
    }
  }

  .event-preview-heading {
    font-size: 20px;
    strong {
      margin-right: 5px;
    }
  }
}


.events-page-heading {
  font-size: 18px;
  font-weight: bold;
}

.event-url{
  font-size: 15px;
}

.full-width {
  padding: 0px !important;
}

.sticky-header{
  z-index: 99; 
  top: 0; 
  position: absolute; 
  padding: 15px; 
  
  width: 100%; 
  left: 0; 
  color: #ffffff !important;
  a{
    color: #ffffff !important;
  }
}